<div class="f4ct-pagination">
  <div>
    <md-button class="md-icon-button" ng-click="pagnModel.firstPage()" aria-label="first page">
      <md-icon md-svg-src="assets/images/icons/navigate-first.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="pagnModel.previousPage()" aria-label="previous page">
      <ng-md-icon icon="navigate_before" style="fill:grey;"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="pagnModel.nextPage()" aria-label="next page">
      <ng-md-icon icon="navigate_next" style="fill:grey;"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="pagnModel.lastPage()" aria-label="last page">
      <md-icon md-svg-src="assets/images/icons/navigate-last.svg"></md-icon>
    </md-button>
  </div>
</div>
