<md-dialog aria-label="Confirm delete">
  <md-dialog-content class="md-dialog-content" role="document" tabIndex="-1">
    <h2 class="md-title" translate>fallout4CoolTools.components.ui.dialogs.confirmDeleteComment.title</h2>
    <div class="md-dialog-content-body">
      <p translate>fallout4CoolTools.components.ui.dialogs.confirmDeleteComment.content</p>
    </div>
  </md-dialog-content>
  <md-dialog-actions class="md-actions">
    <md-button ng-click="dialog.cancel()">
      <span translate>fallout4CoolTools.layout.common.cancel</span>
    </md-button>
    <md-button ng-click="dialog.hide()" class="md-warn md-raised">
      <span translate>fallout4CoolTools.layout.common.confirm</span>
    </md-button>
  </md-dialog-actions>
</md-dialog>
