<md-dialog aria-label="Location comment">
  <md-dialog-content class="md-dialog-content" role="document" tabIndex="-1">
    <h2 class="md-title" translate translate-values="{location : editCommentdialog.location.$id}">fallout4CoolTools.components.ui.dialogs.locationComment.title</h2>
    <div class="md-dialog-content-body">
      <form name="editCommentdialog.commentForm" layout="column">
        <md-input-container>
          <label for="locationComment" translate>fallout4CoolTools.layout.common.fields.locationNotes</label>
          <textarea id="locationComment" name="locationComment" ng-model="editCommentdialog.location.note"></textarea>
        </md-input-container>
        <md-input-container flex>
          <label for="locksmith" translate>fallout4CoolTools.layout.common.fields.locksmith</label>
          <md-select id="locksmith" name="locksmith" ng-model="editCommentdialog.location.locksmith">
            <md-option ng-repeat="level in editCommentdialog.locksmithLevels" value="{{level.value}}">
              {{level.key | translate | capitalize}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label for="hacker" translate>fallout4CoolTools.layout.common.fields.hacker</label>
          <md-select id="hacker" name="hacker" ng-model="editCommentdialog.location.hacker">
            <md-option ng-repeat="level in editCommentdialog.hackerLevels" value="{{level.value}}">
              {{level.key | translate | capitalize}}
            </md-option>
          </md-select>
        </md-input-container>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="editCommentdialog.cancel()">
      <span translate>fallout4CoolTools.layout.common.cancel</span>
    </md-button>
    <md-button ng-click="editCommentdialog.hide()" ng-disabled="editCommentdialog.commentForm.$pristine" class="md-primary md-raised">
      <span translate>fallout4CoolTools.layout.common.save</span>
    </md-button>
  </md-dialog-actions>
</md-dialog>
