<md-dialog aria-label="Unsaved changes">
  <md-dialog-content class="md-dialog-content" role="document" tabIndex="-1">
    <h2 class="md-title" translate>fallout4CoolTools.components.ui.dialogs.stateChange.title</h2>
    <div class="md-dialog-content-body">
      <p translate>fallout4CoolTools.components.ui.dialogs.stateChange.content</p>
    </div>
  </md-dialog-content>
  <md-dialog-actions class="md-actions">
    <md-button ng-click="dialog.hide()" class="md-warn">
      <span translate>fallout4CoolTools.components.ui.dialogs.stateChange.buttons.continue</span>
    </md-button>
    <md-button ng-click="dialog.cancel()">
      <span translate>fallout4CoolTools.components.ui.dialogs.stateChange.buttons.stay</span>
    </md-button>
  </md-dialog-actions>
</md-dialog>
