<div class="locationNotes" flex layout="column">
  <div class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>
          <span translate>fallout4CoolTools.layout.locationNotes.searchLocPanel.header</span>
        </h3>
      </div>
    </md-toolbar>
    <md-content>
      <md-input-container flex class="md-icon-float md-block search-location">
        <label for="searchLocation">
          <span translate>fallout4CoolTools.layout.common.fields.search</span>
        </label>
        <md-icon md-svg-icon="search"></md-icon>
        <input
          type="text"
          id="searchLocation"
          name="searchLocation"
          ng-model="locNotesCtrl.listConfig.query"
          ng-change="locNotesCtrl.onQueryChange()" />
      </md-input-container>
      <md-list class="locationList">
        <md-divider></md-divider>
        <md-list-item ng-repeat="loc in locNotesCtrl.locations">
          <md-icon md-svg-src="{{'assets/images/locations/' + loc.icon + '.svg'}}"></md-icon>
          <p>{{ loc.name }}</p>
          <md-button ng-if="locNotesCtrl.hasComment(loc) && locNotesCtrl.isConnected()" class="md-icon-button" aria-label="Delete comment" ng-click="locNotesCtrl.deleteComment(loc, $event)">
            <md-icon md-svg-icon="delete" class="md-default-theme md-fg md-warn"></md-icon>
          </md-button>
          <md-button ng-disabled="!locNotesCtrl.isConnected()" class="md-icon-button" aria-label="Comment" ng-click="locNotesCtrl.editComment(loc, $event)">
            <md-icon md-svg-icon="comment" ng-class="locNotesCtrl.getIconClass(loc)"></md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
    <f4ct-pagination config="locNotesCtrl.listConfig" change="locNotesCtrl.onQueryChange()"></f4ct-pagination>
  </div>
</div>
