<div class="locationNotes" flex layout="column">
  <div class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>
          <span translate>fallout4CoolTools.layout.locationNotes.searchLocPanel.header</span>
        </h3>
      </div>
    </md-toolbar>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: rgb(255,255,255);">
        <md-input-container flex class="md-icon-float md-input-has-messages">
          <label for="searchLocation">
            <span translate>fallout4CoolTools.layout.common.fields.search</span>
          </label>
          <ng-md-icon icon="search" style="fill: black"></ng-md-icon>
          <input
            type="text"
            id="searchLocation"
            name="searchLocation"
            ng-model="locNotesCtrl.listConfig.query"
            ng-change="locNotesCtrl.onQueryChange()" />
        </md-input-container>
      </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content>
      <md-list class="locationList">
        <md-list-item ng-repeat="loc in locNotesCtrl.locations">
          <md-icon md-svg-src="{{'assets/images/locations/' + loc.icon + '.svg'}}"></md-icon>
          <p>{{ loc.name }}</p>
          <md-button ng-if="locNotesCtrl.hasComment(loc) && locNotesCtrl.isConnected()" class="md-icon-button" aria-label="Delete comment" ng-click="locNotesCtrl.deleteComment(loc, $event)">
            <ng-md-icon icon="delete" style="fill: red;"></ng-md-icon>
          </md-button>
          <md-button ng-disabled="!locNotesCtrl.isConnected()" class="md-icon-button" aria-label="Comment" ng-click="locNotesCtrl.editComment(loc, $event)">
            <ng-md-icon icon="comment" ng-style="locNotesCtrl.getIconStyle(loc)"></ng-md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
    <f4ct-pagination config="locNotesCtrl.listConfig" change="locNotesCtrl.onQueryChange()"></f4ct-pagination>
  </div>
</div>
